.icon_img{
    /* margin-left: 300px;
    margin-top: 40px; */
    width: 8%;
    height: 40%;
    border: 0.5px solid #000;
}

.sanat_img{
    width: 15%;
    height: 40%;
}

.altasr_img{
    width: 15%;
    height: 50%;
}